<main class="container mt-4">
    <article>
        <h1>{{title}}</h1>
        <p>Posted by: {{user.username}} | Date: {{format-data createdAt}}</p>
        {{!-- I dont know if using {{body}} will work --}}
        <p>{{body}}</p>
    </article>
</main>